*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}


body {
    color: #0c1618;
    font-size: 1.1rem;
    background: url(./images/nightskymoon.png);
    background-size: cover;
    height: 100vh;
}
   
article {
    background-image: linear-gradient( to bottom right, rgba(44, 74, 93, 0.99), rgba(177, 147, 118, 0.696), rgba(152, 123, 66, 0.78));


    opacity: 1;
    height: 100vh;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


.navbar, .nav-list {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    align-items: center;
    
    justify-content: space-between;
    padding: 0 2rem 0 1rem;
}
.navbar {
background-color: rgba(21, 31, 39, 0.993);
}

.nav-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;;
}

.nav-link:hover,
.nav-link:focus {
    opacity: .5;
}


.user-input-form {
    display: flex;
    

}

label[for=country-name] {
    position: relative;
    display: flex;
    width: 250px;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.container-autocomplete {
    position: relative;
    display: inline-block;
    padding: .4rem 2rem .4rem 2.5rem;
}



.suggestions {
    position: absolute;
    background-color: #30373a8e;
    top: 50%;
    padding: 0 .2rem .3rem .5rem;
    width: 95%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    max-height: 68vh;
    overflow-y: auto;
   
}

.suggestions li {
    align-items: center;
    align-self: flex-start;
    cursor: pointer;
}

.suggestions li:hover, .suggestions li:focus {
    opacity: .4;
    background-color: #30373ad1;
    padding: 0 .1rem;
    transition: 150ms;
    width: 100%;
}

.input-text {
    padding-right: .1rem;
    margin: .5rem .7rem .9rem 0;
    border-radius:4px;
    height: 35px;
    
   
}

button {
        text-transform: uppercase; 
        height: 35px;
        color: #cfd8db;
        font-weight: 900;
        background-color: #090a0a;
        margin: .5rem 0 0 .7rem;
        padding: .1em 2em;
        border-radius: 100px;
        cursor: pointer;
    }
button:hover,
 button:focus {
    opacity: .6;
    transition: 300ms;
   
}



.weather-container {
   width: 95%;
   opacity: .9;
   margin: 0 auto;
   position: absolute;
   left: 2.5%;
}

#plane-flying {
    opacity: 1;
    position: relative;
    z-index: 1;
    translate: -120% 0;
    width: 6rem;
   
 
 
}



.weather-container .fly-away {
    animation: plane-flight 2220ms linear forwards 1;
}

@keyframes plane-flight {
    0%   { translate:-120% 80%; scale: 2.8; rotate: y 55deg; }
    35%  { translate:350% 180%; scale: 1.5; rotate: y 35deg; rotate: x 35deg;}
    70%  { translate:650% 250%; scale: 2; rotate: 8deg; rotate: x 55deg;}
    100% { translate:1700% 40%; scale: 5; rotate: -5deg; }
}


.weather-dashboard {
    background-image: linear-gradient(to bottom right, rgb(189,195,199,.2), rgb(44,62,80, .4));
    height: 70vh;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: inherit;
    opacity: 1;
}

.weather-results {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 2rem;
}

.html-container {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: inherit;
}

.city-state {
    font-size: 2rem;
}

.response-text {
    color: white;
    margin: .7rem 0;
  
}